<div class="header">
  Zadzwonimy do Ciebie w ciagu 26 sekund.
</div>
<label class="formlabel" for="form-number">
  Wprowadź numer
</label>
<input [(ngModel)]="numer" [ngClass]="{error: !isValidNumber()}"
       class="form-number" id="form-number"/>

<button class="call-button" routerLink="ringing/{{numer}}" [disabled]="!isValidNumber()">
  Zadzwoń teraz
</button>
