<div class="header">
  <h2>  Wybieranie numeru {{numer}}...</h2>
</div>

<div *ngIf="status" class="call-button" (click)="call()">
  Status polaczenia: {{statusMsg}}
</div>

<button class="close-call-button" routerLink="/" *ngIf="isCallEnded()">
  Zakończ połączenie
</button>
